<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body>
    <input type="text" ng-model="name" value="">
<h1>First(expressions)</h1>
<div class="">
  <p>
  <input ng-model="varA" type="number" name="name" value=""> +
  <input ng-model="varB" type="number" name="name" value=""> = <p ng-bind="varA + varB"></p>
</p>
<p>
My name is {{"BoJack" +  " Horseman"}}
</p>
{{2 + 2}}
<p>
  The array [99,43,22] is {{ [99,43,22].length }} items long.
</p>
</div>
<h1>Second(currency filter)</h1>
{{3.14159265359 | currency : "€"}}
<h1>Third (casing filters)</h1>
<input ng-init="case='dO yoU YOU, feeeEEEL Like I dO'" type="text" ng-model="case" value="">
<p ng-bind="case | uppercase"></p>
<p ng-bind="case | lowercase"></p>
<h1>Fourth (rounding filters)</h1>
{{3.14159265359 | number:3}}
{{3.14159265359 | number:6}}
{{3.14159265359 | number:1}}
<h1>Five(rounding with a select and input box all so dynamic)</h1>
<select ng-model="round" class="" name="">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
</select>
{{numba | number:round}}
<input type="number" ng-model="numba" value="" ng-init="numba='3.14159265359'" placeholder="Enter #, select rounding">
<h1>Six(pluralize)</h1>
<p>
  Here you go the first <ng-pluralize count="round"
                 when="{'0': 'Nobody is selecting a number.',
                     'one': '1 digit',
                     'other': '{} digits'}">
</ng-pluralize> of decimal rounding of the number you selected
</p>
<h1>Seven(tip calculator)</h1>
<input type="text" ng-model="meal" value="">
<select ng-model="tip" name="">
  <option value="0.">0%</option>
  <option value="0.15">15%</option>
  <option value="0.2">20%</option>
  <option value="0.25">25%</option>
  <option value="0.3">30%</option>
</select>
<h3>Dear <span ng-bind="name"></span>, </h3>
<p>
The meal you ordered today will be <span ng-bind="meal | currency"></span> and the tip you selected will come out to <span ng-bind="tip * meal | currency"></span>.
</p>
<h1>Eight (This)</h1>
<div>{{this}}</div>

  </body>
</html>
